@import "tailwindcss";

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ec4899;
  width: 0;
  animation:
    typewriter 2.2s steps(22, end) forwards,
    blink 0.8s step-end infinite;
}
